.TodoForm {
  display: grid;
}

.Button {
  background-color: skyblue;
  box-shadow: 2px 10px 16px rgba(135, 206, 235);
  border-radius: 50px;
  overflow: hidden;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  padding: 15px 30px;
  margin: 15px 30px;
}
